<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="hour-report">
        <ion-icon name="time"></ion-icon>
        <ion-label>Horas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="admin-technician">
        <ion-icon name="build"></ion-icon>
        <ion-label>Tecnicos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="admin-users">
        <ion-icon name="people"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>
