<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-label class="close-session" color="light" (click)="closeSession()">Cerrar Sesión</ion-label>
    </ion-buttons>
    <ion-title (click)="presentLoading()">Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tipo de tarea</ion-label>
    <ion-select (ngModelChange)="changeTask($event)" [(ngModel)]="typeTask">
      <ion-select-option value="pending">Pendientes</ion-select-option>
      <ion-select-option value="completed">Finalizadas</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="typeTask == 'completed'; else pending">
    <app-list-completed-tasks [data]="dataFinishedTask"></app-list-completed-tasks>
  </ion-item>

  <ng-template #pending>
    <ion-item>
      <app-list-pending-tasks [data]="dataPendingTask"></app-list-pending-tasks>
    </ion-item>
  </ng-template>

  

</ion-content>
