<div class="container">
  <h2>Tareas Completadas</h2>

  <ion-card>
    <img
      src="https://www.worldenergytrade.com/images/stories/news/energias_alternativas/I_D_I/8447/el-transporte-de-energia-electrica-sin-cables-ya-es-una-realidad-8447.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
      Territory in 1836.
    </ion-card-content>
  </ion-card>

</div>
