<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="brand-logo">
        <img src="../../assets/icon/electricista.png" alt="" srcset="" width="75">
      </div>
      <div class="brand-title">Eléctrica PLG</div>
      <div class="inputs">
        <form #useForm="ngForm" (ngSubmit)="getDataUser()">
          <label>Usuario</label>
          <input type="text" name="username" #username="ngModel" [(ngModel)]="dataUser.username"
            placeholder="Ingrese su usuario" />
          <label>Contraseña</label>
          <input type="password" name="password" #password="ngModel" [(ngModel)]="dataUser.password"
            placeholder="Ingrese su Contraseña" />
          <button type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="alert" class="row mt-3">
    <div class="col-md-8 offset-md-4">
      <div class="alert alert-danger" role="alert">
        {{ messageError }}
      </div>
    </div>
  </div>
</div>
