@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.container {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -50%;
  width: 350px;
  height: 500px;
  box-sizing: border-box;
  background: #fff;
  padding: 0 20px;
}

.brand-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #1da1f2, -7px -7px 10px #1da1f2;
  border-radius: 50%;
  padding: 2px 11px;
}

.brand-title {
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1da1f2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  color: #fff;
}

button:hover {
  box-shadow: none;
}

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}
