<ion-header no-border color="success">
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <div class="text-danger font-weight-bold" (click)="closeModal()">X</div>
    </ion-buttons>
    <ion-title>Tarea # 36</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="row">
      <div class="table-responsive my-3">
        <table class="table table-bordered">
          <tbody>
            <tr>
            <tr>
              <th scope="col">Tareas #</th>
              <td>37</td>
            </tr>
            <tr>
              <th scope="col">Tipo de Tarea</th>
              <td>Rutinas</td>
            </tr>
            <tr>
              <th scope="col">Estado</th>
              <td>Finalizado</td>
            </tr>
            <tr>
              <th scope="col">Descripcion</th>
              <td>Rutinas electricas</td>
            </tr>
            <tr>
              <th scope="col">Fecha de Gen.</th>
              <td>21-06-2021</td>
            </tr>
            <tr>
              <th scope="col">Fecha de Cierre</th>
              <td>22-06-2021</td>
            </tr>
            <tr>
              <th scope="col">Hora de Inicio</th>
              <td>22:00</td>
            </tr>
            <tr>
              <th scope="col">Hora de Cierre</th>
              <td>23:30</td>
            </tr>
            <tr>
              <th scope="col">Horas Hombre</th>
              <td>01:00</td>
            </tr>
            <tr>
              <th scope="col">Tecnico</th>
              <td>Ricardo Melida</td>
            </tr>
            <tr>
              <th scope="col">Cargo</th>
              <td>Junior</td>
            </tr>
            <tr>
              <th scope="col">Turno</th>
              <td>Noche</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</ion-content>
