<div class="container">
  <form #useForm="ngForm" (ngSubmit)="save()">
    <!--------------------------------- Tipo de tareas ---------------------------->
    <div class="row">
      <div class="col-md-12">
        <label for="task-type" class="form-label">Tipo de Tarea</label>
        <select class="form-select" name="taskType" #taskType="ngModel" [(ngModel)]="completedTask.type" id="task-type"
          [(ngModel)]="taskSelect">
          <option [value]="item" *ngFor="let item of typesTask">{{item}}</option>
        </select>
      </div>
    </div>

    <!--------------------------------- Turnos ------------------------------------>
    <div class="row">
      <div class="col-md-12">
        <label for="turn" class="form-label">Turno</label>
        <select class="form-select" name="turn" #turn="ngModel" [(ngModel)]="completedTask.turn" id="turn"
          aria-label="Default select example">
          <option value="manana" selected>Mañana</option>
          <option value="tarde">Tarde</option>
          <option value="noche">Noche</option>
        </select>
      </div>
    </div>

    <!--------------------------------- Hora Inicio ------------------------------->
    <div class="row">
      <div class="col-md-12">
        <label for="h_start" class="form-label">Hora inicio</label>
        <input type="time" name="hourStart" #hourStart="ngModel" [(ngModel)]="completedTask.start_time"
          class="form-control" id="h_start">
      </div>
    </div>

    <!--------------------------------- Hora Fin ---------------------------------->
    <div class="row">
      <div class="col-md-12">
        <label for="h_finish" class="form-label">Hora Final</label>
        <input type="time" (blur)="hoursMan()" name="hourEnd" #hourEnd="ngModel" [(ngModel)]="completedTask.end_time"
          class="form-control" id="h_finish">
      </div>
    </div>

    <!--------------------------------- Horas Hombre ------------------------------>
    <div class="row">
      <div class="col-md-12">
        <label for="h_man" class="form-label">Horas Hombre</label>
        <input type="time" name="hourMan" #hourMan="ngModel" value="00:00" [(ngModel)]="completedTask.hour_man"
          class="form-control" id="h_man" disabled>
      </div>
    </div>

    <!--------------------------------- Descripcion -------------------------------->
    <div class="row">
      <div class="col-md-12">
        <label for="description" class="form-label">Descripcion</label>
        <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="completedTask.description"
          id="description" rows="3"></textarea>
      </div>
    </div>

    <!--------------------------------- Imagen Antes ------------------------------>
    <div class="row">
      <div class="col-md-12">
        <label for="before" class="form-label">Antes</label>
        <input (change)="getImageBefore($event)" class="form-control" name="photoBefore" type="file" id="before">
      </div>
    </div>

    <!--------------------------------- Imagen Despues ----------------------------->
    <div class="row">
      <div class="col-md-12">
        <label for="after" class="form-label">Despues</label>
        <input class="form-control" (change)="getImageAfter($event)" name="photoAfter" type="file" id="after">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>
