<ion-header no-border color="success">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-label class="close-session" color="light" (click)="closeSession()">Cerrar Sesión</ion-label>
    </ion-buttons>
    <ion-title>Agregar Tarea</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select value="completed" [(ngModel)]="typeTask">
      <ion-select-option value="pending">Pendientes</ion-select-option>
      <ion-select-option value="completed">Finalizadas</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="container">
    <div *ngIf="typeTask == 'completed'; else pending">
      <app-form-completed-tasks></app-form-completed-tasks>
    </div>
  </div>

  <ng-template #pending>
    <app-form-pending-tasks></app-form-pending-tasks>
  </ng-template>
</ion-content>
