<div class="container">
  <form #useForm="ngForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-12">
        <label for="task-type" class="form-label">Tipo de Tarea</label>
        <select class="form-select" name="taskType" #taskType="ngModel" [(ngModel)]="pendingTask.type" id="task-type"
          [(ngModel)]="taskSelect">
          <option [value]="item" *ngFor="let item of typesTask">{{item}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="turn" class="form-label">Turno</label>
        <select class="form-select" name="turn" #turn="ngModel" [(ngModel)]="pendingTask.turn" id="turn"
          aria-label="Default select example">
          <option value="manana" selected>Mañana</option>
          <option value="tarde">Tarde</option>
          <option value="noche">Noche</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="description" class="form-label">Descripcion</label>
        <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="pendingTask.description"
          id="description" rows="3"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>

        <div *ngIf="alertError">
          <div class="col-md-8 offset-md-4 mt-3">
            <div class="alert alert-danger" role="alert">
              <ul *ngFor="let err of messageError">
                <li>{{ err }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
